

/* google fomts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/* spinner css */

#spinner{
    display:none;
}

#error{
    display:none;
}